<!DOCTYPE html>
{% load widget_tweaks %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style>

        form{
           margin: 50px; 
          
        }

    </style>
  </head>
  <body>
    {% include "exam/navbar.html" %}
 


<br><br><br>
<div class="container">
  <h3 style="text-align: center;">Registro de operador</h3>
<form method="POST" autocomplete="off" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="first_name">Nombres</label>
          {% render_field userForm.first_name|attr:'required:true'  class="form-control"  placeholder="First Name" %}
        </div>
        <div class="form-group col-md-6">
          <label for="last_name">Apellidos</label>
          {% render_field userForm.last_name|attr:'required:true'  class="form-control" placeholder="Last Name" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="mobile">Contacto</label>
          {% render_field teacherForm.mobile|attr:'required:true'  class="form-control" placeholder="Contacto" %}
        </div>
        <div class="form-group col-md-6">
          <label for="address">Dirección</label>
          {% render_field teacherForm.address|attr:'required:true'  class="form-control" placeholder="Dirección" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-6">
          <label for="username">Usuario</label>
          {% render_field userForm.username|attr:'required:true'  class="form-control" placeholder="username" %}
        </div>
        <div class="form-group col-md-6">
          <label for="inputPassword4">Contraseña</label>
          {% render_field userForm.password|attr:'required:true'  class="form-control" placeholder="Contraseña" %}
        </div>
      </div>

      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="profile_pic">Perfil</label>
          {% render_field teacherForm.profile_pic|attr:'required:true' class="form-control" placeholder="" %}
        </div>
        
      </div>


    <button type="submit" class="btn btn-success" style="border-radius:0px;">Registrarse</button>
  </form>
</div>


<br><br>
{% include "exam/footer.html" %}
  </body>
</html>
